div.note {
    margin-bottom: 15px;
    width: 720px;
    padding: 10px;
    background-color: #242F39;
    border: 1px solid #2f3338;
}

div.note:last-of-type {
    margin-bottom: 0;
}

div.note p {
    margin-top: 10px;
}

.view-button a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #A9CF54;
    color: #A9CF54;
    margin-top: 10px;
}

a.view-button:hover {
    background-color: #263132;
}
